<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748290569289-vpilhok07bc2p1o9i28qtniapgcs7s4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748290569289-vpilhok07bc2p1o9i28qtniapgcs7s4f</string>
	<key>API_KEY</key>
	<string>AIzaSyC0VbAIWzB9fHjSJj-DOYnar4KMWv079vc</string>
	<key>GCM_SENDER_ID</key>
	<string>748290569289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.gopizza</string>
	<key>PROJECT_ID</key>
	<string>gopizza-c1323</string>
	<key>STORAGE_BUCKET</key>
	<string>gopizza-c1323.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748290569289:ios:9a2d52dba0d19bc3c1bb98</string>
</dict>
</plist>